<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="utf-8"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1"></meta>

  <script src="https://code.jquery.com/jquery-2.2.3.js"></script>

  <!--
  TODO add bootstrap js script
  -->
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>
  <link th:href="@{/css/flicklist.css}" rel="stylesheet" />

  <title>FlickList</title>
</head>
<body>
	<div class="bdy">
	<div  th:replace="base :: top"></div>
	</div>
  <header class="jumbotron">
    <h1>FlickList</h1>
    <p class="text-muted">Keep a list of all the movies you've been meaning to watch.</p>
  </header>


  <div class="main-content">

    <section id="section-watchlist" class="container-fluid">
      <header>
        <h2>My Watchlist</h2>
        <hr/>
      </header>

      <ul class="list-inline"></ul>
    </section>

    <section id="section-browse" class="container-fluid">
    <div class="row">
      <!-- TODO
      Rearrange the layout of this section using the Bootstrap grid system to match the specification
      -->
      <!--<ul class="list-group"></ul>-->
      <div class="col-sm-8">
          <div class="well">
          <div class="row">
            <div class="col-xs-7" id="browse-info">
              <h4></h4>
              <hr/>
              <p></p>
            </div>
            <div class="col-xs-5">
              <div class="carousel slide" id="browse-carousel" data-ride="carousel">
                <ul class="carousel-inner" role="listbox"></ul>
                <a class="left carousel-control" href="#browse-carousel" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#browse-carousel" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
              </div>
              <button id="add-to-watchlist">
              </button>
            </div>
          </div>
        </div>

    </div>

      <div class="col-sm-4">
      <header>
        <h2>Browse Movies</h2>
      </header>
      <form id="form-search">
        <div class="input-group">
          <input type="text" class="form-control" name="query"/>
          <span class="input-group-btn">
            <input type="submit" class="btn btn-primary" value="Search By Topic"/>
          </span>
        </div>
      </form>
  </div>

      <!--
      TODO
      implement a carousel inside this section
      You can incorporate this <ul> as the .carousel-inner
      -->

	</div>
    </section>

  </div>
  <script src="../static/js/flicklist.js" th:src="@{/js/flicklist.js}"></script>
  <script>
    $("#form-search").submit(function(evt) {
      evt.preventDefault();
      var query = $("#form-search input[name=query]").val();
      searchMovies(query, render);
    });

    $("#browse-carousel").on("slid.bs.carousel", function() {
      console.log("the carousel just slid!");
      var newIndex = $("#browse-carousel").find(".active").index();
      // TODO
      // update the model and then re-render

      var nextMovie = model.browseItems[newIndex];
      $("#browse-info h4").text(nextMovie.original_title);
      $("#browse-info p").text(nextMovie.overview);
      $("#add-to-watchlist")
      .text("Add to Watchlist")
      .attr("class", "btn btn-primary")
      .unbind("click")
      .click(function() {
        model.watchlistItems.push(nextMovie);
        render();
      })

    });
  </script>

</body>
</html>
