<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="base :: head">
	    <meta charset="utf-8"/>
	    <meta name="viewport" content="width=device-width, initial-scale=1"/>
	
	    <title>LaunchCode Projects!</title>
	
	    <!-- jQuery -->
	    <script src="https://code.jquery.com/jquery-2.2.3.js"></script>
	
	    <!-- Bootstrap CSS -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous"></link>
        <link th:href="@{/css/wordup.css}" rel="stylesheet" />

    </head>

    <body>
    <div  th:replace="base :: top"></div>
    </body>

</html>