<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:replace="stockstemplate :: head">
</head>

<body>
<div class="bdy">
<div  th:replace="base :: top"></div>
</div>
<div class="container">

    <div id="top" th:include="stockstemplate :: masthead"></div>

    <div id="middle">

        <form method="post" action="/stocks/register">
            <fieldset>
                <div class="form-group">
                    <input autofocus="true" class="form-control" name="userName" placeholder="Username" type="text"/>
                </div>
                <div class="form-group">
                    <input class="form-control" name="password" placeholder="Password" type="password"/>
                </div>
                <div class="form-group">
                    <input class="form-control" name="confirmPassword" placeholder="Confirm Password" type="password"/>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Register</button>
                </div>
            </fieldset>
        </form>
        <div>
            Already have an account? <a href="/stocks/login">Log in</a>
        </div>
    </div>

    <div th:replace="stockstemplate :: footer"></div>

</div>

</body>

</html>